* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    background-image: url(/images/background_1.png);
    background-size: cover;
}

section {
    width: 1023px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #FFF;
    text-decoration: none;
    position: relative;
}

.logo-text-container {
    display: inline-block;
    position: relative;
    margin-left: 65px;
}

.logo-text-container::before {
    content: "";
    width: 53px;
    height: 47px;
    background-image: url(/images/logo_3.svg);
    position: absolute;
    left: -65px;
    top: 25px;

}

.logo-text-container p:first-child {
    margin-bottom: 0;
}

.logo-text-container p:last-child {
    margin-top: 0;
}

.big-logo-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}

.small-logo-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

    .logo:hover .logo-text-container::before {
    background-image: url(/images/logo_2.svg);
}

.logo:hover p {
    color: #F26522;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 47px;
    margin-top: 29px;
}

.contacts a {
    text-align: right;
    display: block;
    text-decoration: none;
    font-style: normal;
    color: #FFF;
}

.contacts:hover a {
    color: #F26522;
}

.groupped {
    display: flex;
    justify-content: space-between;
}

.groupped:last-child {
    margin-top: 25px;
}

.content {
    text-decoration: none;
    color: #FFF;
}

.post-name {
    text-transform: capitalize;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
}

img {
    width: 300px;
    height: 222px;
}

.post-image {
    position: relative;
}

.details {
    display: none;
    height: 55px;
    width: 300px;
    background-color: #F26522;
    padding: 7px 16px 12px 16px;
    position: absolute;
    bottom: 0;
}

.from {
    text-align: left;
    margin: 0;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 8px;
}

.price-details {
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.price {
    font-size: 20px;
    line-height: 20px;
}

.view-details {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 14px;
    margin-right: 30px;
    position: relative;
}

.view-details::after {
    content: "";
    width: 8px;
    height: 12px;
    display:inline-block;
    background-image: url(/images/Vector_1.svg);
    position: absolute;
    right: -25px;
}

.content:hover .details {
    display: block;
}

.content:hover .post-name {
    color: #F26522;
}

footer {
    text-align: center;
    margin-top: 85px;
    font-size: 12px;
    line-height: 12px;
}
